.flota img {
  float: right;
}

.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

form {
  padding: 1em;
}

form input {
  margin: 0.5em;
}

.error {
  color: red;
  padding-bottom: 0.3em;
}

.oky {
  color: green;
  padding-bottom: 0.3em;
  font-weight: bold;
}
